<div class="panel panel-default">
<div class="panel-heading"><h1>Nuevo Proveedor</h1> </div>
<div class="panel-body">
	<%= render 'form' %>
</div>
<div class="panel-footer">
<%= link_to 'Regresar', proveedores_path, class: "btn btn-default" %>
</div>
</div>
